/*-----一些小细节的优化和设置背景图片-----*/
a{
	text-decoration: none;
}

em{
	color: white;
	font-size: 18pt;
	text-align: center;
	font-family: Arial;
}
#Layer1{
	min-width: 1366px;
	min-height: 768px;
}
/*-------菜单的样式设置-----*/
#leftTool{
	position: fixed;
	left: 0;
	top:0;
	width: 60px;
	height: 30px;
	background: rgba(210,105,30,0.6); /*---设置透明度---*/
}
.button{
	position: absolute;   /*----定位图片----*/
}

.photo{
	position: absolute;
	widows: 200px;
	height: 200px;
}